---
const {
  title,
  description = "Home Renovations, Repairs, Remodeling and Dumpster Rentals in Spartanburg, Greenville, and Upstate SC. Over 15 years of quality service.",
  ogImage = "/images/logo/logo_1200x630.png"
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site || 'https://www.joetheguy.com');
---

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content={description}>

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <meta name="author" content="HexadicGroup - A. Harvey">

    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/images/favicon/hardhat.svg" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content={canonicalURL}>
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:site_name" content="Joe The Guy">
    <meta property="og:locale" content="en_US">

    <!-- OG:Image -->
    <meta property="og:image" content={ogImage}>
    <meta property="og:image:type" content="png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content={canonicalURL}>
    <meta property="twitter:title" content={title}>
    <meta property="twitter:description" content={description}>
    <meta property="twitter:image" content={ogImage}>

    <!-- Preconnect for Performance -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap" rel="stylesheet">
