---
import Navigation from './Navigation.astro';
import Logo from './Logo.astro';
import {companyInfo} from "../data/company-details";
const {phone, email, hours} = companyInfo;
---

<header class="p-0 m-0 bg-bg-light">
    
    <div class="flex justify-between items-center bg-secondary-light w-full h-auto px-32 font-raleway font-medium text-sm text-slate-400 ">
        <!-- Contact Information Container-->
        <div class="flex justify-between items-center px-4 divide-x-2 divide-solid divide-slate-200 border-x-2 border-slate-200">
            <a href="tel:{phone}" class="items-center p-4">
                <span class="template-phone"></span>
                <span>{phone}</span>
            </a>
            <a href="mailto:{email}" class="items-center p-4">
                <span class="template-mail"></span>
                <span>{email}</span>
            </a>
            <div class="items-center p-4">
                <span class="template-clock"></span>
                <span>Mon - Fri: {hours.weekdays}</span>
            </div>
        </div>
        <!-- Social Icons Container-->  
            <ul class="social-icons flex justify-between">
                <li>
                    <a target="_blank" href="#" class="social-facebook" title="facebook">facebook</a>
                </li>
                <li>
                    <a target="_blank" href="#" class="social-twitter" title="twitter">X</a>
                </li>
                <li>
                    <a href="#" class="social-instagram" title="instagram">Insta</a>
                </li>
                <li>
                    Search
                </li>
            </ul>
    </div>
    <!-- Navigation Container-->
   <div class="bg-bg-light flex p-0">
        <Logo class="cursor-pointer"/>
        <Navigation />
    </div>
</header>
