---
import Carousel from '../components/Carousel.astro';
import ImageOverlay from '../components/ImageOverlay.astro';
import MainLayout from '../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const keywords = ["Dumpster", "dumpsters", "dumpster", "dumpsters rental", "dumpster rental", "in Spartanburg", "Spartanburg", "home remodeling", "home", "Greenville", "in Greenville", "Greer", "in Greer", "Inman", "in Inman", "Boiling Springs", "in Boiling Springs", "Roebuck", "in Roebuck","home renovation", "renovations", "home renovation", "home remodeling", "remodeling", "home repair", "repairman", "repair man", "upstate", ];

// Get up to 4 recent projects
const allProjects = await getCollection('projects');
const recentProjects = allProjects.slice(0, 4);
---


<MainLayout title="Joe The Guy | When You Need a Guy", keywords={keywords}>
	
		<!-- <Slider /> -->
		<Carousel class="w-full h-auto" />
		<!--  Services -->
		<div class="my-8 w-full h-auto font-raleway bg-secondary-light items-center">
			<h1 class="px-8 pt-8 pb-4 text-3xl uppercase text-black text-center font-semibold">Our Services</h1>
			<h2 class="mx-60 text-center text-lg text-black">
				<div class="mx-auto w-24 h-[1.5px] bg-primary mb-8"><!-- Horizontal line --></div>
				With over 15 years experience in Spartanburg, Greenville and our Upstate communities if you <span class="text-primary font-bold">need a guy</span> for your renovation, remodel or home repair, <span class="text-primary"><a href="#" class="font-bold">Call Joe the Guy!</a></span> We offer a wide range of services to meet your needs. We are a full-service contractor providing quality service to residential and commercial clients.
			</h2>
			<div class="mx-32 mt-12 flex gap-6 bg-white">
				<div class="w-1/3 flex-col ml-6">
					<a href="#">
						<img src="/images/services/19.png" alt="Interior Renovation" class="w-full mt-6 h-auto"/>
						<h3 class="text-2xl text-center font-semibold text-primary uppercase p-2">Interior Renovation</h3>
						<p class="text-center p-2">We combine quality workmanship, superior knowledge and low prices to provide you with service unmatched by our competitors.</p>
				</a>
				</div>
				<div class="w-1/3">
					<img src="/images/services/23.png" alt="Exterior Renovation" class="w-full mt-6 h-auto"/>
					<h3 class="text-2xl text-center font-semibold text-primary p-2 uppercase">Exterior Renovation</h3>
					<p class="text-center p-2">We have the experience, personnel, and resources to make the project run smoothly and to ensure your job is done on time and on budget.</p>
				</div>
				<div class="w-1/3 mr-6">
					<img src="/images/services/24.png" alt="Home Repair" class="w-full mt-6 h-auto"/>
					<h3 class="text-2xl text-center font-semibold text-primary p-2 uppercase">Home Repair</h3>
					<p class="text-center p-2">We have the experience, personnel, and resources to make the project run smoothly and to ensure your job is done on time and on budget.</p>
				</div>

			</div>
			<!-- Second Row (Hidden Initially) -->
			<div id="services-row-2" class="mx-32 mt-12 flex gap-6 bg-white hidden">
				<div class="w-1/3 flex-col">
					<a href="#">
						<img src="/images/services/20.png" alt="Kitchen Remodeling" class="w-full mt-6 h-auto"/>
						<h3 class="text-2xl text-center font-semibold text-primary uppercase p-2">Kitchen Remodeling</h3>
						<p class="text-center p-2">We combine quality workmanship, superior knowledge and low prices to provide you with service unmatched by our competitors.</p>
				</a>
				</div>
				<div class="w-1/3">
					<img src="/images/services/21.png" alt="Bathroom Remodeling" class="w-full mt-6 h-auto"/>
					<h3 class="text-2xl text-center font-semibold text-primary p-2 uppercase">Bathroom Remodeling</h3>
					<p class="text-center p-2">We have the experience, personnel, and resources to make the project run smoothly and to ensure your job is done on time and on budget.</p>
				</div>
				<div class="w-1/3">
					<img src="/images/services/22.png" alt="Flooring Installation" class="w-full mt-6 h-auto"/>
					<h3 class="text-2xl text-center font-semibold text-primary p-2 uppercase">Flooring Installation</h3>
					<p class="text-center p-2">We have the experience, personnel, and resources to make the project run smoothly and to ensure your job is done on time and on budget.</p>
				</div>

			</div>
			<!-- Third Row (Hidden Initially) -->
			<div id="services-row-3" class="mx-32 mt-12 mb-8 flex gap-6 bg-white hidden">
				<div class="w-1/3 flex-col">
					<a href="#">
						<img src="/images/services/25.png" alt="Painting Services" class="w-full mt-6 h-auto"/>
						<h3 class="text-2xl text-center font-semibold text-primary uppercase p-2">Painting Services</h3>
						<p class="text-center p-2">We combine quality workmanship, superior knowledge and low prices to provide you with service unmatched by our competitors.</p>
				</a>
				</div>
				<div class="w-1/3">
					<img src="/images/services/26.png" alt="Deck & Patio" class="w-full mt-6 h-auto"/>
					<h3 class="text-2xl text-center font-semibold text-primary p-2 uppercase">Deck & Patio</h3>
					<p class="text-center p-2">We have the experience, personnel, and resources to make the project run smoothly and to ensure your job is done on time and on budget.</p>
				</div>
				<div class="w-1/3">
					<img src="/images/services/27.png" alt="Roofing Services" class="w-full mt-6 h-auto"/>
					<h3 class="text-2xl text-center font-semibold text-primary p-2 uppercase">Roofing Services</h3>
					<p class="text-center p-2">We have the experience, personnel, and resources to make the project run smoothly and to ensure your job is done on time and on budget.</p>
				</div>

			</div>
			<div class="flex justify-center align-middle">
			<button id="view-all-services-btn" class="mx-auto my-8 bg-primary uppercase text-white font-semibold text-sm px-8 py-2 rounded-2xl hover:bg-accent1 hover:text-white">View All Services</button>
			</div>
			
		</div> 

		<!-- Recent Projects -->
		<div class="w-full h-auto font-raleway bg-white items-center">
			<h1 class="px-8 pt-8 pb-4 text-3xl uppercase text-black text-center font-semibold">Recent Projects</h1>
			<div class="mx-auto w-24 h-[1.5px] bg-primary mb-8"><!-- Horizontal line --></div> 
			<h2 class="mx-60 text-center text-lg text-black">Here are a few of many projects we have completed for our customers. We provide a professional service
				which includes consultation, free estimate, design, supply of materials and installation.</h2>
			<div class="mx-32 mt-12 flex gap-6 bg-white">
				{recentProjects.map((project) => (
					<div class="w-1/4 flex-col">
						<a href={`/projects/${project.slug}`}>
							{project.data.featuredImage && (
								<Image src={project.data.featuredImage} alt={project.data.title} class="w-full h-auto"/>
							)}
							<h3 class="text-2xl text-center font-semibold text-primary p-2 uppercase">{project.data.title}</h3>
						</a>
					</div>
				))}

			</div>
			<div class="flex justify-center items-center bg-secondary-light">
				<h2 class=" text-2xl uppercase text-black text-center font-semibold">Explore our projects</h2>
			<a href="projects" class="bg-primary uppercase text-white font-semibold text-sm p-2 m-8 rounded-2xl hover:bg-accent1 hover:text-white">View Projects</button></a>
			</div>
		</div>

		<!-- About Us -->
		<div>
			<div class="w-full h-auto font-raleway bg-white items-center">
				<h1 class="px-8 pt-8 pb-4 text-3xl uppercase text-black text-center font-semibold">About Us</h1>
				<div class="mx-auto w-24 h-[1.5px] bg-primary mb-8"><!-- Horizontal line --></div>
				<div class="mx-60 text-center text-lg text-black">
					<p>Joe The Guy has been serving the Upstate communities for over 15 years. Our mission is to provide top-notch renovation, remodel, and home repair services to both residential and commercial clients. We pride ourselves on our quality workmanship, superior knowledge, and competitive prices.</p>
					<p class="mt-4">Our team is dedicated to ensuring that every project is completed on time and within budget. We believe in building lasting relationships with our clients through trust, integrity, and exceptional service.</p>
				</div>
				<div class="flex justify-center align-middle">
					<button class="mx-auto my-8 bg-primary uppercase text-white font-semibold text-sm px-8 py-2 rounded-2xl hover:bg-accent1 hover:text-white">Learn More</button>
				</div>
			</div>
		</div>
		

</MainLayout>

<script>
	document.getElementById('view-all-services-btn')?.addEventListener('click', () => {
		const row2 = document.getElementById('services-row-2');
		const row3 = document.getElementById('services-row-3');
		const btn = document.getElementById('view-all-services-btn');

		if (row2 && row3) {
			row2.classList.remove('hidden');
			row3.classList.remove('hidden');
		}

		if (btn) {
			btn.style.display = 'none';
		}
	});
</script>


	